# project gitignore file

*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*.vscode*
*_auto_*
*/migrations/*
updates/brain-region-faild.txt
updates/brain-region-track.txt
updates/track.txt
media/
dumps/
